<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IVAO Thailand Discord | Declaration of Consent</title>
    <link rel="stylesheet" href="/assets/styles/style.css" />
  </head>
  <body>
    <div class="container mx-auto px-4">
      <img src="/assets/images/logo.png" class="h-40 mx-auto m-10" />
      <div class="text-center">
        <span class="text-xl text-center"
          >Declaration of Consent for the use of IVAO Thailand Discord</span
        >
      </div>
      <br />
      <p>
        IVAO Thailand uses
        <a href="https://discord.com" class="underline">Discord</a> to
        communicate between its staffs and members. According to various data
        protection legislations, we need your consent to process your personal
        data collected by IVAO according to our
        <a
          href="https://wiki.ivao.aero/en/home/ivao/privacypolicy"
          class="underline"
          >Privacy Policy</a
        >
        as follows:
      </p>
      <br />
      <ul class="mx-4">
        <li>
          <strong>Processed Data:</strong> VID, First name, staff position (if
          applicable)
        </li>
        <li>
          <strong>Purposes of the Processing:</strong> provision of services,
          contact requests and communication, daily administration, direct
          marketing.
        </li>
        <li>
          <strong>Recipient of Personal Data:</strong>
          <a href="https://discord.com" class="underline">Discord, Inc.</a> (<a
            href="https://discord.com/privacy"
            class="underline"
            >Privacy Policy</a
          >)
        </li>
      </ul>
      <br />
      <p>
        The undersigned has the right to withdraw this consent at any time with
        effect for the future without giving reasons. An email to
        th-hq@ivao.aero is sufficient for this purpose. The lawfulness of the
        processing carried out on the basis of the consent until the withdrawal
        is not affected by the withdrawal.
      </p>
      <br />
      <form action="/submit-consent" method="post">
        <input type="checkbox" name="consent" value="consent" /> I agree to the declaration of
        consent and that processing can be carried out as appropiate.
        <br />
        <input type="hidden" name="_token" value="<%= vid %>" />
        <input type="submit" value="Submit" class="px-5 py-2" />
      </form>
    </div>
  </body>
</html>
